.category {
	display: inline-block;
	background: #eeeeee;
	border-radius: 50px;
	padding: 10px 20px;
	margin-bottom: 25px;
	margin-right: 15px;
	cursor: pointer;
	transition: all 0.3s ease;

	&:hover {
		background: #cecece;
	}
	&.active {
		background: #cecece;
		border-color: #000;
	}
}

@media (max-width: 992px) {
	.category {
		font-size: 10px;
		padding: 10px 15px;
	}
}

@media (max-width: 768px) {
	.category {
		font-size: 10px;
		padding: 10px 11px;
		margin-right: 5px;
		margin-bottom: 15px;
	}
}

@media (max-width: 576px) {
	.categories {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		margin: 0 0 10px;
	}

	.category {
		font-size: 12px;
		margin: 5px 10px;
	}
}

@media (max-width: 420px) {
	.category {
		font-size: 10px;
		padding: 6px 8px;
		margin: 2px 5px;
		border-radius: 12px;
	}
}
