.search {
	width: 100%;
	position: relative;
}

.input {
	width: 100%;
	font-size: 18px;
	font-weight: 600;
	padding: 10px 20px;
	outline: none;
	border: 2px solid #606060;
	border-radius: 15px;
	padding-right: 40px;
	margin-bottom: 30px;

	&:focus {
		border: 2px solid #dc3d3d;
	}
	&::placeholder {
		font-weight: 300;
	}
}

.btn_clear {
	position: absolute;
	right: 5px;
	top: 10px;
	font-size: 30px;
	z-index: 2;
	color: #000;
	cursor: pointer;
	transition: all 0.3s ease;

	&:hover {
		color: #dc3d3d;
	}
}

@media (max-width: 992px) {
	.input {
		font-size: 12px;
		height: 40px;
	}

	.btn_clear {
		top: 10px;
		right: 10px;
		font-size: 20px;
	}
}

@media (max-width: 768px) {
	.input {
		margin-bottom: 20px;
	}
}
