@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;900&display=swap');

* {
	margin: 0;
	padding: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

input::-ms-clear {
	display: none;
}

body,
html {
	background: #fff;
	color: #222;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	height: 100%;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.container {
	width: 1280px !important;
	margin: 0 auto;
	padding: 0 !important;
	flex: 1 0 auto;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul {
	padding-left: 0 !important;
}

/* Header */

header {
	height: 50px;
}

.header {
	position: fixed;
	display: flex;
	align-items: center;
	width: 100%;
	height: 50px;
	background: #eeeeee;
	z-index: 100;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		margin: 0 auto;
		width: 1280px;
	}

	&__logo {
		font-weight: 600;
		font-size: 32px;
		cursor: pointer;
		transition: all 0.3s ease;
		user-select: none;
		color: #000;
		text-decoration: none;

		&:hover {
			color: #dc3d3d;
		}
	}

	&__nav {
		font-weight: 600;
		list-style: none;
		margin-bottom: 0;
		margin-left: 0;
	}

	&__nav li {
		display: inline;
		margin-left: 25px;
		cursor: pointer;
		transition: all 0.3s ease;
	}

	&__link,
	&__link:visited {
		color: #000 !important;
		text-decoration: none;

		&:hover {
			color: #dc3d3d !important;
			filter: brightness(100%);
		}
		&.active {
			text-decoration: underline;
		}
	}

	&__btn-cart {
		position: relative;
		top: -2px;
		margin-right: 10px;
		cursor: pointer;
		transition: all 0.3s ease;
		width: 25px;
		height: 25px;

		&:hover,
		&.active {
			color: #dc3d3d;
			transform: scale(1.2);
		}
	}
}

/* Carousel */

.carousel {
	&-container {
		max-width: 1280px;
		width: 100%;
		margin: 30px auto;
	}

	&-image {
		height: 500px;
		width: 100%;
		object-fit: cover;
	}

	&-item {
		height: 100%;
	}
}

/* Categories */

.category {
	display: inline-block;
	background: #eeeeee;
	border-radius: 50px;
	padding: 10px 20px;
	margin-bottom: 25px;
	margin-right: 15px;
	cursor: pointer;
	transition: all 0.3s ease;

	&:hover {
		background: #cecece;
	}
	&.active {
		background: #cecece;
		border-color: #000;
	}
}

/* Search */

.search {
	width: 100%;
	position: relative;

	&__input {
		width: 100%;
		font-size: 18px;
		font-weight: 600;
		padding: 10px 20px;
		outline: none;
		border: 1px solid #606060;
		border-radius: 15px;
		padding-right: 40px;
		margin-bottom: 30px;

		&:focus {
			border: 2px solid #dc3d3d;
		}
		&::placeholder {
			font-weight: 300;
		}
	}

	&__btn-close {
		position: absolute;
		right: 5px;
		top: 10px;
		font-size: 30px;
		z-index: 2;
		color: #000;
		cursor: pointer;
		transition: all 0.3s ease;

		&:hover {
			color: #dc3d3d;
		}
	}
}

/* Items */

.item-list {
	display: grid;
	grid-template-columns: repeat(3, 400px);
	grid-gap: 40px 40px;
	width: 100%;

	&_empty {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
		height: 550px;

		&__title {
			font-size: 56px;
			font-weight: 600;
			margin-bottom: 0;
		}

		&__subtitle {
			font-size: 32px;
			font-weight: 600;
		}

		&__error {
			font-size: 32px;
			font-weight: 600;
			color: #dc3d3d;
		}
	}
}

.item {
	width: 400px;
	height: 550px;
	background-color: #eeeeee;
	border: 1px solid #eeeeee;
	transition: transform 0.3s ease;
	position: relative;
	padding-bottom: 10px;

	&:hover {
		transform: scale(1.02);
	}

	&__img {
		width: 100%;
		cursor: pointer;
	}

	&__title {
		cursor: pointer;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		line-height: 45px;
		width: 90%;
		margin: 10px 20px;

		&:hover {
			text-decoration: underline;
		}
	}

	&__author {
		margin: 10px 20px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 90%;
	}

	&__price {
		font-size: 24px;
		font-weight: 600;
		margin: 0 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		p {
			margin-bottom: 0;
		}
	}

	&__btn-like {
		width: 35px;
		height: 35px;
		margin-right: 15px;
		color: #333;
		cursor: pointer;
		transition: all 0.3s ease;

		&:hover,
		&.active {
			transform: scale(1.1);
			color: #dc3d3d;
		}
	}

	&__btn-cart {
		width: 35px;
		height: 35px;
		color: #333;
		cursor: pointer;
		transition: all 0.3s ease;

		&:hover,
		&.active {
			transform: scale(1.1);
			color: #dc3d3d;
		}
	}
}

/* Modal Item */

.modal-item {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.8);
	z-index: 9999;
	overflow: auto;

	&-enter {
		opacity: 0;
	}
	&-enter-active {
		opacity: 1;
		transition: opacity 300ms ease-in-out;
	}
	&-exit {
		opacity: 1;
	}
	&-exit-active {
		opacity: 0;
		transition: opacity 300ms ease-in-out;
	}

	img {
		width: 35%;
		margin-right: 20px;
		border: 1px solid #eeeeee;
	}
}

.modal {
	&__content {
		width: 800px;
		margin: 2% auto;
		position: relative;
		padding: 40px 30px;
		background: #fff;
		border-radius: 10px;
	}

	&__header {
		display: flex;
		flex-direction: row;
		position: relative;
	}

	&__information {
		position: relative;
		overflow: hidden;
		width: 100%;
	}

	&__title,
	&__author,
	&__date {
		margin-bottom: 15px;
	}

	&__title {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		font-size: 30px;
		font-weight: 900;
	}

	&__author {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		font-weight: 600;
	}

	&__date {
		letter-spacing: 1px;
	}

	&__price {
		position: absolute;
		bottom: 0;
		padding-right: 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}

	&__cost {
		font-size: 28px;
		font-weight: 600;
		margin-right: 15px;
		margin-bottom: 0;
	}

	&__btn-list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100px;
	}

	&__btn-like {
		width: 35px;
		height: 35px;
		color: #333;
		cursor: pointer;
		transition: all 0.3s ease;

		&:hover,
		&.active {
			transform: scale(1.2);
			color: #dc3d3d;
		}
	}

	&__btn-cart {
		width: 35px;
		height: 35px;
		color: #333;
		cursor: pointer;
		font-weight: 600;
		transition: all 0.3s ease;

		&:hover {
			transform: scale(1.2);
			color: #dc3d3d;
		}
	}

	&__desc {
		margin: 15px auto;
		line-height: 1.5;
		text-align: justify;
	}

	&__tracklist {
		font-weight: 600;
	}

	&__track {
		display: flex;
		flex-flow: wrap;
		color: #000;

		&:hover {
			color: #dc3d3d;
		}

		&-id {
			margin-right: 15px;
		}

		&-duration {
			width: 35px;
			text-align: start;
			order: 999;
			margin-left: auto;
		}
	}

	&__btn-close {
		position: absolute;
		top: 5px;
		right: 5px;
		height: 30px;
		width: 30px;
		cursor: pointer;

		&:hover {
			color: #dc3d3d;
		}
	}
}

/* Modal Order */

.modal-order {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.8);
	z-index: 100;
	overflow: hidden;
	display: flex;
	justify-content: flex-end;

	&-enter {
		background: rgba(0, 0, 0, 0);
	}
	&-enter-active {
		background: rgba(0, 0, 0, 0.8);
		transition: background 0.2s ease-in-out;
	}
	&-exit {
		background: rgba(0, 0, 0, 0.8);
	}
	&-exit-active {
		background: rgba(0, 0, 0, 0);
		transition: background 0.2s ease-in-out;
	}

	&__content {
		width: 600px;
		background: #eeeeee;
		transform: translateX(600px);

		&-enter-done {
			transform: translateX(0px);
			transition: transform 0.2s ease-in-out;
		}
		&-exit {
			transform: translateX(0px);
		}
		&-exit-active {
			transform: translateX(600px);
			transition: transform 0.2s ease-in-out;
		}

		& > div {
			height: 100%;
		}
	}

	&__container {
		display: flex;
		flex-direction: column;
		min-height: 100%;
		background: #eeeeee;
		position: relative;
	}

	&__header {
		display: flex;
		justify-content: center;
		align-items: center;
		position: fixed;
		z-index: 9999;
		width: 600px;
		height: 70px;
		padding: 15px 0;
		font-size: 24px;
		font-weight: 600;
		background: #fff;
		border-bottom: 2px solid #eeeeee;
		overflow: hidden;

		.summa {
			margin: 0;
		}
	}

	&__body {
		flex: 1 0 auto;
		overflow-y: auto;
		height: 200px;
	}

	&__item {
		width: 100%;
		background: #fff;
		padding: 25px;
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid #eeeeee;

		&:first-child {
			border-top: 1px solid #eeeeee;
			margin-top: 90px;
		}
		&:last-child {
			margin-bottom: 90px;
		}

		&__body {
			width: 100%;
			position: relative;
			top: -5px;
		}

		&__title {
			font-size: 25px;
			font-weight: 600;
			margin-bottom: 10px;
			width: 320px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			cursor: pointer;

			&:hover {
				text-decoration: underline;
			}
		}

		&__author {
			color: #222;
		}

		&__price {
			position: absolute;
			bottom: 0;
			font-size: 24px;
			font-weight: 600;
			margin-bottom: 0;
		}

		&__delete-btn {
			position: absolute;
			top: -5px;
			right: -5px;
			width: 20px;
			height: 20px;
			transition: color 0.3s ease;
			cursor: pointer;

			&:hover {
				color: #dc3d3d;
			}
		}

		&__count {
			display: flex;
			justify-content: space-between;
			align-items: center;
			position: absolute;
			bottom: 0;
			right: 0;
			width: 35%;
			border-radius: 15px;
			background: #eeeeee;
			padding: 0px 20px;
			user-select: none;

			p {
				font-size: 24px;
				font-weight: 600;
				margin-bottom: 0;
			}

			&__btn {
				color: #000;
				transition: all 0.3s ease;
				cursor: pointer;

				&:hover {
					color: #dc3d3d;
				}
			}
		}
	}

	&__img {
		width: 150px;
		margin-right: 20px;
		cursor: pointer;
		transition: all 0.3s ease;
		border: 1px solid #eeeeee;

		&:hover {
			transform: scale(1.02);
		}
	}

	&__button {
		padding: 0 50px;
		font-size: 24px;
		font-weight: 600;
		background: #cecece;
		border: none;
		outline: none;
		border-radius: 25px;
		transition: all 0.3s ease;
		user-select: none;

		&:hover {
			background: #dc3d3d;
		}
	}

	&__footer {
		display: flex;
		justify-content: center;
		flex-shrink: 0;
		position: fixed;
		bottom: 0;
		width: 600px;
		height: 70px;
		padding: 12px 0;
		background: #fff;
		border-top: 2px solid #eeeeee;
		overflow: hidden;
	}

	&__btn-close {
		position: absolute;
		top: calc(50% - 30px);
		right: 615px;
		color: #fff;
		width: 60px;
		height: 60px;
		cursor: pointer;
		transition: all 0.3s ease;

		:hover {
			color: #dc3d3d;
		}
	}

	&__empty {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 100%;
		padding: 0 100px;

		&__title {
			font-size: 64px;
		}

		&__text {
			text-align: center;
			font-size: 20px;
		}
	}
}

/* Footer */

footer {
	background: #eeeeee;
	height: 70px;
	font-weight: 600;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	margin-top: 50px;

	a,
	a:visited {
		color: #dc3d3d;

		&:hover {
			filter: brightness(75%);
		}
	}

	p {
		margin-bottom: 0;
	}
}

/* Page About Us */

.greeting {
	margin: 40px 0;
	width: 50%;

	&__text {
		font-size: 50px;
		margin: 0;

		&.red {
			color: #dc3d3d;
		}
	}
}

.description {
	text-align: justify;

	&__text {
		font-size: 24px;
		margin-bottom: 10px;
	}
}

.information {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	row-gap: 25px;
	padding: 15px 0;
	margin: 25px 0;

	&__item {
		width: 100%;
		overflow: hidden;
		transition: transform 0.3s ease;
		text-align: center;

		&:hover {
			transform: scale(1.02);
		}
	}

	&__title {
		color: #dc3d3d;
		font-size: 36px;
		font-weight: 900;
		padding: 0 20px;
	}

	&__text {
		padding: 0 20px;
		font-size: 30px;
		font-weight: 600;
		line-height: 1.25;
	}
}

.team {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 50px;
	margin: 35px 0;

	&__item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__img {
		width: 200px;
		height: 200px;
		border-radius: 50%;
		overflow: hidden;

		img {
			width: 100%;
		}
	}

	&__name {
		font-size: 24px;
		font-weight: 600;
	}

	&__position {
		font-size: 16px;
		text-align: center;
	}

	&__mail {
		font-size: 18px;
		font-style: italic;
	}
}

/* Page Contacts */

.contact-information {
	margin: 20px 0;

	&__title {
		margin-bottom: 20px;
	}

	&__grid {
		display: grid;
		grid-template-columns: 2fr 2fr 1fr;
		row-gap: 35px;
		column-gap: 150px;
	}

	&__item {
		&__title {
			font-size: 24px;
			font-weight: 600;
		}

		&__text {
			text-align: justify;

			p {
				margin: 5px 0;
			}

			span {
				display: block;
				font-weight: 600;
				margin: 25px 0 5px;
			}
		}

		&__link,
		&__link:visited {
			display: inline-block;
			cursor: pointer;
			font-weight: normal;
			color: #dc3d3d;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
				filter: brightness(75%);
			}
		}

		&__address {
			p {
				margin: 0;
			}
		}

		&__link-media {
			display: flex;
			align-items: center;
			font-size: 20px;
			color: #dc3d3d;
			text-decoration: none;
			margin-bottom: 10px;
			transition: all 0.3s ease;
			cursor: pointer;

			&:hover {
				transform: scale(1.02);
				filter: brightness(75%);
			}
			&:first-child {
				margin-top: 20px;
			}

			p {
				display: inline-block;
				margin: 0 0 0 10px;
			}
		}
	}
}

.contact-map {
	margin: 30px 0;
	outline: 1px solid black;

	&__item {
		width: 100%;
		height: 300px;
	}
}

.contact-form {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;

	&__title {
		font-size: 30px;
		margin-bottom: 15px;
		text-align: center;
	}

	&__item {
		padding: 20px;
		background: #eeeeee;
		border-radius: 15px;
	}

	&__content {
		display: flex;
	}

	&__input {
		display: block;
		width: 300px;
		outline: 1px solid #222;
		padding: 5px;
		margin-right: 25px;
		margin-bottom: 20px;

		&:focus {
			outline-color: #dc3d3d;
		}
	}

	&__textarea {
		width: 300px;
		height: 150px;
		outline: 1px solid #222;
		padding: 5px;
		resize: none;

		&:focus {
			outline-color: #dc3d3d;
		}
	}

	&__btn {
		margin-top: 10px;
		width: 100%;
		height: 30px;
		outline: 1px solid #222;
		background-color: #222;
		color: #fff;
		font-weight: 600;
		transition: background 0.3s ease;

		&:hover {
			background: #dc3d3d;
		}
	}
}

/* Page Profile */

.cabinet__title {
	margin: 30px 0;
	font-size: 40px;
}

.tabs {
	display: flex;

	&__content {
		width: 75%;
		height: 750px;
		background: #eee;
		border: 3px solid #eee;
		margin-right: 25px;
		padding: 15px;
		overflow-y: auto;
		overflow-x: auto;
	}

	&__btn {
		display: block;
		font-size: 24px;
		color: #333;
		text-decoration: none;
		cursor: pointer;
		transition: transform 0.3s ease;

		&.non-auth {
			color: rgba(0, 0, 0, 0.15);
		}

		&.active {
			font-weight: 600;
			color: #dc3d3d;
		}
		&:hover {
			transform: translateX(5px);
		}
	}
}

@media (max-height: 1000px) {
	.tabs__content {
		height: 580px;
	}
}

.profile {
	&--auth {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 75%;

		.profile__title {
			margin-bottom: 30px;
		}

		.profile__input {
			margin-bottom: 30px;
		}

		.profile__buttons {
			display: flex;
			justify-content: center;

			.profile__btn {
				margin-right: 10px;

				&:last-child {
					margin-right: 0;
					margin-left: 10px;
				}
			}
		}
	}

	&__content {
		display: flex;

		.first {
			width: 300px;
			margin-right: 30px;
		}
		.second {
			width: 100%;
		}
	}

	&__title {
		font-size: 30px;
		margin-bottom: 20px;
	}

	&__img {
		width: 300px;
		height: 300px;
		overflow: hidden;
		margin-bottom: 10px;

		img {
			width: 100%;
		}
	}

	&__btn {
		width: 100%;
		cursor: pointer;
		background-color: #606060;
		color: #fff;
		text-align: center;
		padding: 5px 10px;
		margin-bottom: 5px;

		&:hover {
			background-color: #dc3d3d;
		}
	}

	&__input {
		width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		background-color: #333;
		color: #fff;
		padding: 5px 10px;
		margin-bottom: 10px;
	}

	&-items {
		width: 100%;
		height: 100%;

		&__list {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: repeat(auto, 1fr);
			column-gap: 20px;
			row-gap: 20px;
			padding-bottom: 25px;
		}

		&__list-2 {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			column-gap: 20px;
			row-gap: 20px;
			padding: 15px;
			background-color: #fff;
		}

		&__item {
			overflow: hidden;
			background-color: #fff;

			&:hover {
				transform: scale(1.02);
			}
			&.gray {
				background-color: #eee;
				border: 1px solid #eee;
			}
		}

		&__img {
			img {
				width: 100%;
				cursor: pointer;
				border-bottom: 1px solid #eeeeee;
			}
		}

		&__content {
			padding: 5px;
		}

		&__title {
			font-size: 18px;
			margin-bottom: 0;
			cursor: pointer;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			line-height: 20px;
		}

		&__author {
			margin-bottom: 0;
			font-size: 14px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		&__price {
			font-size: 16px;
			font-weight: 600;
			display: flex;
			justify-content: space-between;
			align-items: center;

			p {
				margin-bottom: 0;
			}
		}

		&__btn-like,
		&__btn-cart {
			width: 20px;
			height: 20px;
			margin-left: 15px;
			color: #333;
			cursor: pointer;
			transition: all 0.3s ease;

			&:hover,
			&.active {
				transform: scale(1.1);
				color: #dc3d3d;
			}
		}

		&__empty {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			font-size: 48px;
			color: #606060;
		}
	}
}

.orders-history {
	width: 100%;
	height: 100%;

	&__header {
		display: flex;
		flex-direction: row;
	}

	&__order {
		margin-right: 15px;
	}
}

.accordion {
	&-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;
		background-color: #fff;
		padding: 10px 20px;

		&.active {
			.arrow {
				transform: rotate(135deg);
			}
		}
	}

	&-content {
		height: 0;
		overflow: hidden;
		border-top: 3px solid #eee;
		margin-bottom: 0;
		transition: height 0.3s ease, border 0s ease 0.3s;

		&.active {
			height: 100%;
			border: none;
			margin-bottom: 10px;
		}
	}

	.arrow {
		width: 10px;
		height: 10px;
		border-top: 2px solid black;
		border-right: 2px solid black;
		transform: rotate(-45deg);
		transition: transform 0.3s ease-in-out;
	}
}

@media (max-width: 1400px) {
	.header__container {
		max-width: 1140px;
	}

	.container {
		max-width: 1140px;
	}

	.carousel-container {
		max-width: 1140px;
	}

	.item-list {
		grid-template-columns: repeat(3, 360px);
		grid-gap: 30px 30px;

		&_empty {
			height: 490px;
		}
	}

	.item {
		width: 360px;
		height: 490px;

		&__title {
			font-size: 28px;
			line-height: 30px;
		}

		&__author {
			font-size: 16px;
		}

		&__price {
			font-size: 20px;
		}

		&__btn-like,
		&__btn-cart {
			width: 30px;
			height: 30px;
		}
	}

	.modal-order {
		&__content {
			width: 550px;
		}

		&__item__title {
			width: 270px;
		}

		&__btn-close {
			right: 565px;
		}
	}
}

@media (max-width: 1200px) {
	.header__container {
		max-width: 960px;
	}

	.carousel-container {
		max-width: 960px;
	}

	.container {
		max-width: 960px;
	}

	.item-list {
		grid-template-columns: repeat(3, 310px);
		grid-gap: 15px 15px;

		&_empty {
			height: 440px;
		}
	}

	.item {
		width: 310px;
		height: 440px;

		&__title {
			font-size: 24px;
		}

		&__author {
			font-size: 15px;
		}

		&__price {
			font-size: 19px;
		}

		&__btn-like,
		&__btn-cart {
			width: 28px;
			height: 28px;
		}
	}

	.modal-order {
		&__content {
			width: 500px;
		}

		&__item__title {
			width: 220px;
		}

		&__item__count {
			width: 110px;
		}

		&__btn-close {
			right: 515px;
		}
	}

	.contact-information {
		margin: 15px 0;

		&__grid {
			column-gap: 50px;
		}

		&__title {
			font-size: 30px;
			margin-bottom: 10px;
		}

		&__item {
			&__title {
				font-size: 20px;
			}

			&__text {
				span {
					font-size: 14px;
					margin: 15px 0 5px;
				}

				p {
					font-size: 12px;
				}
			}
		}
	}

	.contact-map {
		margin: 20px 0;
	}

	.cabinet__title {
		font-size: 30px;
		margin: 20px 0;
	}

	.tabs {
		flex-direction: column-reverse;

		&__header {
			display: flex;
		}

		&__content {
			width: 100%;
			margin-right: 0;
			margin-bottom: 0;
		}

		&__btn {
			margin-right: 35px;

			&:hover {
				transform: translateY(-2px);
			}
		}
	}

	.profile__title {
		font-size: 25px;
		margin-bottom: 10px;
	}
}

@media (max-width: 992px) {
	.header__container {
		max-width: 720px;
	}

	.container {
		max-width: 720px;
	}

	.carousel {
		&-container {
			max-width: none;
		}

		&-image {
			height: 350px;
			margin: 0 0 25px;
		}
	}

	.category {
		font-size: 10px;
		padding: 10px 15px;
	}

	.search {
		&__input {
			font-size: 12px;
			height: 40px;
		}

		&__btn-close {
			top: 10px;
			right: 10px;
			font-size: 20px;
		}
	}

	.item-list {
		grid-template-columns: repeat(3, 230px);
		grid-gap: 15px 15px;

		&_empty {
			height: 320px;

			&__title {
				width: 90%;
				font-size: 32px;
			}

			&__subtitle,
			&__error {
				width: 90%;
				font-size: 22px;
			}
		}
	}

	.item {
		width: 230px;
		height: 320px;
		padding-bottom: 5px;

		&__title {
			font-size: 18px;
			line-height: 26px;
			margin: 3px auto;
		}

		&__author {
			font-size: 12px;
			margin: 3px auto;
		}

		&__price {
			font-size: 18px;
			margin: 3px auto;
			width: 90%;
		}

		&__btn-like,
		&__btn-cart {
			width: 25px;
			height: 25px;
		}
	}

	.modal-order {
		&__content {
			width: 400px;
		}

		&__header {
			width: 400px;
			font-size: 20px;
			padding: 10px 0;
		}

		&__item {
			padding: 15px;

			&:first-child {
				margin-top: 90px;
			}

			&:last-child {
				margin-bottom: 90px;
			}

			&__title {
				width: 210px;
				font-size: 20px;
				margin-bottom: 5px;
			}

			&__author {
				width: 210px;
				font-size: 14px;
				margin-bottom: 5px;
			}

			&__price {
				font-size: 20px;
			}

			&__count {
				width: 100px;
				padding: 0px 15px;

				p {
					font-size: 20px;
				}
			}

			&__delete-btn {
				width: 15px;
				top: 0px;
				right: 0px;
			}
		}

		&__img {
			width: 100px;
		}

		&__button {
			padding: 5px 75px;
			font-size: 14px;
		}

		&__btn-close {
			width: 50px;
			height: 50px;
			top: calc(50% - 25px);
			right: 415px;
		}

		&__footer {
			width: 400px;
			padding: 15px;
			height: 70px;
		}

		&__empty {
			padding: 0 40px;

			&__title {
				font-size: 48px;
			}

			&__text {
				text-align: center;
				font-size: 14px;
			}
		}
	}

	.modal-item {
		height: 100%;
		background-color: #fff;
	}

	.modal__content {
		width: 100%;
		height: 100%;
		margin: 0;
		border-radius: 0;
		padding: 20px 15px;
	}

	/* Page */

	.greeting {
		width: 70%;

		&__text {
			font-size: 40px;
		}
	}

	.information {
		grid-template-columns: repeat(2, 1fr);

		&__item:nth-child(3) {
			grid-column: span 2;
		}
	}

	.team {
		grid-template-columns: repeat(2, 1fr);
		row-gap: 25px;
	}

	/* Contacts */

	.contact-form {
		&__title {
			font-size: 24px;
		}

		&__content {
			flex-direction: column;
		}

		&__input,
		&__content {
			margin-right: 0;
		}
	}
}

@media (max-width: 768px) {
	.header__container {
		max-width: 540px;
	}

	.header {
		padding: 5px 0;
		display: flex;
		align-items: center;

		&__logo {
			font-size: 20px;
			margin-bottom: 3px;

			a {
				color: #000 !important;
			}
		}

		&__nav {
			font-size: 12px;
		}

		&__btn-cart {
			width: 20px;
			height: 20px;
		}
	}

	.container {
		max-width: 540px;
	}

	.carousel-image {
		height: 300px;
		margin: 0 0 20px;
	}

	.category {
		font-size: 10px;
		padding: 10px 11px;
		margin-right: 5px;
		margin-bottom: 15px;
	}

	.search__input {
		margin-bottom: 20px;
	}

	.item {
		width: 170px;
		height: 260px;
		padding: 0;

		&__title {
			font-size: 15px;
		}

		&-list {
			grid-template-columns: repeat(3, 170px);
			grid-gap: 15px 15px;

			&_empty {
				height: 260px;

				&__title {
					width: 90%;
					font-size: 24px;
				}

				&__subtitle,
				&__error {
					width: 90%;
					font-size: 18px;
				}
			}
		}
	}

	footer {
		height: 6vh;
		margin-top: 30px;

		p {
			margin: 0;
		}
	}

	.modal__title,
	.modal__author,
	.modal__genre,
	.modal__date {
		margin-bottom: 8px;
	}

	/* Page */

	.greeting {
		width: 70%;
		margin: 20px 0;

		&__text {
			font-size: 30px;
		}
	}

	.description {
		&__text {
			font-size: 20px;
		}
	}

	.information {
		margin: 10px auto;

		&__text {
			font-size: 22px;
		}

		&__title {
			font-size: 28px;
		}
	}

	.team {
		grid-template-columns: repeat(2, 1fr);
		row-gap: 25px;
		margin: 20px 0;
	}

	/* Profile Page */

	.cabinet__title {
		font-size: 20px;
		margin: 15px 0;
	}

	.tabs__btn {
		font-size: 18px;
	}

	.profile {
		&__content {
			flex-direction: column;
			align-items: center;

			.first {
				margin-bottom: 15px;
				margin-right: 0;
			}
		}

		&-items_list,
		&-items__list-2 {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}

@media (max-width: 576px) {
	.header {
		&__container {
			width: 100%;
			padding: 0px 20px;
		}

		&__logo {
			font-size: 18px;
		}

		&__nav {
			padding-left: 5px;

			li {
				margin-left: 15px;
			}
		}

		&__btn-cart {
			margin-right: 0;
		}
	}

	.container {
		max-width: 390px;
	}

	.carousel {
		&-image {
			height: 200px;
		}

		&-caption {
			bottom: 20px !important;
			padding: 10px 0 0 !important;

			h3 {
				font-size: 14px;
			}

			p {
				font-size: 10px;
			}
		}
	}

	.categories {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		margin: 0 0 10px;
	}

	.category {
		font-size: 12px;
		margin: 5px 10px;
	}

	.item {
		width: 190px;
		height: 280px;

		&-list {
			grid-template-columns: repeat(2, 190px);
			grid-gap: 15px 10px;
		}

		&-list_empty {
			height: 280px;

			&__title {
				width: 90%;
				font-size: 20px;
			}

			&__subtitle,
			&__error {
				width: 90%;
				font-size: 12px;
			}
		}
	}

	footer {
		margin-top: 30px;
		height: 5vh;

		p {
			margin: 0 !important;
			font-size: 14px;
		}
	}

	.modal-order {
		&__content,
		&__header,
		&__footer {
			width: 100%;
		}

		&__btn-close {
			color: #000;
			width: 35px;
			height: 35px;
			right: 10px;
			top: 10px;
			z-index: 9999;
		}
	}

	.modal {
		&__title,
		&__author,
		&__genre,
		&__date {
			margin-bottom: 5px;
		}

		&__title {
			font-size: 20px;
		}

		&__author {
			font-size: 16px;
		}

		&__genre,
		&__date {
			font-size: 14px;
		}

		&__desc {
			font-size: 12px;
		}

		&__btn-list {
			width: 80px;
		}

		&__track {
			font-size: 14px;
		}

		&__cost {
			font-size: 20px;
			margin: 0;
		}

		&__btn-like,
		&__btn-cart {
			width: 30px;
			height: 30px;
		}
	}

	/* Page */

	.greeting {
		width: 100%;

		&__text {
			font-size: 28px;
		}
	}

	.description__text {
		font-size: 18px;
	}

	.information {
		grid-template-columns: repeat(1, 1fr);
		margin: 10px auto;

		&__item:nth-child(3) {
			grid-column: 1;
		}

		&__text {
			font-size: 22px;
		}

		&__title {
			font-size: 28px;
		}
	}

	.team {
		row-gap: 20px;
		margin: 20px 0;
		column-gap: 40px;

		&__img {
			width: 175px;
			height: 175px;
		}

		&__name {
			font-size: 20px;
		}

		&__position {
			font-size: 14px;
		}

		&__mail {
			font-size: 14px;
		}
	}

	/* Contacts */

	.contact-information {
		&__grid {
			grid-template-columns: 1fr 1fr;
			grid-template-areas:
				'a a'
				'b c';
			row-gap: 5px;
		}

		&__item {
			&:nth-child(1) {
				grid-area: a;
			}
			&:nth-child(2) {
				grid-area: b;
			}
			&:nth-child(3) {
				grid-area: c;
			}

			&__text {
				span {
					margin: 5px 0 5px;
				}
			}

			&__link-media:first-child {
				margin-top: 10px;
			}
		}

		&__title {
			font-size: 24px;
		}
	}

	.contact-form__title {
		font-size: 22px;
	}

	/* Profile Page */

	.tabs {
		&__header {
			justify-content: space-between;
		}

		&__btn {
			font-size: 16px;
			margin-right: 0;
		}

		&__content {
			padding: 10px;
		}
	}

	.profile {
		&__content {
			.first {
				margin-bottom: 5px;
			}
		}

		&__btn {
			font-size: 14px;
		}

		&__title {
			font-size: 20px;
			text-align: center;
		}

		&__label {
			font-size: 12px;
		}

		&__input {
			font-size: 14px;
		}

		&-items {
			&__title {
				font-size: 14px;
			}

			&__author {
				font-size: 12px;
			}

			&__price {
				p {
					font-size: 13px;
				}
			}

			&__list,
			&__list-2 {
				row-gap: 10px;
				column-gap: 10px;
			}
		}
	}

	.orders-history {
		&__header {
			flex-direction: column;
			font-size: 13px;
		}

		&__order {
			margin-right: 0;
		}
	}
}

@media (max-width: 420px) {
	.header {
		padding: 0;

		&__nav {
			display: flex;
			align-items: flex-end;

			li {
				margin-left: 10px;
				font-size: 10px;
			}
		}

		&__btn-cart {
			width: 15px;
			height: 15px;
		}
	}

	.container {
		max-width: 360px;
	}

	.carousel {
		&-image {
			height: 200px;
			margin: 0;
		}

		&-item {
			height: 200px;
			margin-bottom: 15px;
		}

		&-control-next,
		&-control-prev {
			visibility: hidden;
		}

		&-caption {
			bottom: 20px !important;
			padding: 10px 0 0 !important;

			h3 {
				font-size: 14px;
				margin: 0;
			}

			p {
				font-size: 10px;
				margin: 0;
			}
		}
	}

	.categories {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		margin: 0 0 10px;
	}

	.category {
		font-size: 10px;
		padding: 6px 8px;
		margin: 2px 5px;
		border-radius: 12px;
	}

	.item {
		width: 175px;
		height: 255px;
		padding: 0;

		&-list {
			grid-template-columns: repeat(2, 175px);
			grid-gap: 15px 10px;

			&_empty {
				height: 255px;

				&__title {
					width: 90%;
					font-size: 16px;
				}

				&__subtitle,
				&__error {
					width: 90%;
					font-size: 10px;
				}
			}
		}

		&__title {
			font-size: 16px;
			line-height: 1.2;
			margin: 5px auto;
		}

		&__price {
			font-size: 16px;
		}

		&__btn-like,
		&__btn-cart {
			width: 22px;
		}
	}

	footer {
		margin-top: 20px;

		p {
			margin: 0 !important;
			font-size: 14px;
		}
	}

	.modal {
		&__header {
			flex-direction: column;
		}

		&-item {
			img {
				width: 85%;
				margin: 10px auto;
			}
		}

		&__information {
			width: 85%;
			margin: 0 auto;
		}

		&__title,
		&__author,
		&__genre,
		&__date {
			margin-bottom: 5px;
		}

		&__title {
			font-size: 20px;
			width: 100%;
		}

		&__author {
			font-size: 14px;
		}

		&__genre {
			font-size: 12px;
		}

		&__date {
			font-size: 12px;
		}

		&__cost {
			font-size: 18px;
		}

		&__price {
			position: static;
			padding: 0;
		}

		&__desc {
			margin: 10px auto;
		}

		&__btn-like,
		&__btn-cart {
			width: 25px;
			height: 25px;
		}

		&__btn-list {
			width: 60px;
		}
	}

	/* Page */

	.greeting__text {
		font-size: 24px;
	}

	.description__text {
		font-size: 16px;
		margin-bottom: 5px;
	}

	.information {
		grid-template-columns: repeat(1, 1fr);
		margin: 5px auto;
		padding: 5px;

		&__item:nth-child(3) {
			grid-column: 1;
		}

		&__text {
			font-size: 22px;
		}

		&__title {
			font-size: 28px;
		}
	}

	.team {
		row-gap: 20px;
		margin: 10px 0;
		column-gap: 20px;

		&__img {
			width: 170px;
			height: 170px;
		}

		&__name {
			font-size: 18px;
		}

		&__position {
			font-size: 14px;
		}

		&__mail {
			font-size: 14px;
		}
	}
}

/* CSSTransition */

.alert {
	&-enter {
		opacity: 0;
		transform: scale(0.9);

		&-active {
			opacity: 1;
			transform: translateX(0);
			transition: opacity 300ms, transform 300ms;
		}
	}

	&-exit {
		opacity: 1;

		&-active {
			opacity: 0;
			transform: scale(0.9);
			transition: opacity 300ms, transform 300ms;
		}
	}
}
