@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body, html {
    background: #fff;
    color: #222;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 1280px;
    margin: 50px auto;
    flex: 1 0 auto;
}

.header {
    margin-bottom: 10px;
    padding: 0 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    font-weight: 600;
    font-size: 32px;
}

.header__nav {
    list-style: none;
    margin-bottom: 0;
}

.header__nav li {
    display: inline;
    margin-left: 25px;
    cursor: pointer;
    transition: opacity 500ms ease;
}
.header__nav li:hover {
    opacity: 0.5;
}

.header__cart-button {
    position: relative;
    top: -2px;
    margin-right: 10px;
    cursor: pointer;
    transition: color, transform 500ms ease;
}
.header__cart-button:hover,
.header__cart-button.active {
    color: #dc3d3d;
    transform: scale(1.5);
}

.header .shop-cart {
    position: absolute;
    top: 35px;
    right: 0;
    width: 450px;
    background: #eeeeee;
    -webkit-box-shadow: 4px 5px 15px -7px #606060;
    box-shadow: 4px 5px 15px -7px #606060;
    z-index: 100;
    padding: 20px;
}

.header .shop-cart .item {
    width: 100%;
    height: 90px;
    float: left;
    margin-bottom: 0px;
    padding: 5px;
}

header .shop-cart .item:last-child {
    margin-bottom: 0;
}

header .shop-cart .item img {
    width: 70px;
    float: left;
    margin-right: 20px;
}

header .shop-cart .item h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

header .shop-cart .item p {
    font-weight: 600;
}

header .shop-cart .item .delete-icon {
    float: right;
    position: relative;
    top: -32px;
    transition: color 0.3s ease;
    cursor: pointer;
}
header .shop-cart .item .delete-icon:hover {
    color: #dc3d3d;
}

header .shop-cart .summa {
    float: left;
    width: 100%;
    font-weight: 600;
    font-size: 20px;
}

.carousel-image {
    height: 500px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 35px;
}

.categories .category {
    display: inline-block;
    background: #eeeeee;
    border-radius: 50px;
    padding: 10px 20px;
    margin-bottom: 25px;
    margin-right: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.categories .category:hover {
    background: #cecece;
}
.category.active {
    background: #cecece;
    border-color: #000;
}

.search {
    width: 100%;
    position: relative;
}

.search__input {
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 20px;
    outline: none;
    border: 1px solid #606060;
    border-radius: 15px;
    padding-right: 40px;
    margin-bottom: 30px;
}
.search__input:focus {
    border: 2px solid #dc3d3d;
}
.search__input::placeholder {
    font-weight: 300;
}

.search__btn-close {
    position: absolute;
    right: 5px;
    top: 8px;
    font-size: 30px;
    z-index: 2;
    color: #000;
    cursor: pointer;
    transition: all 0.2s ease;
}
.search__btn-close:hover {
    color: #dc3d3d;
}


main {
    display: flex;
    width: 100%;
    min-height: 200px;
    flex-wrap: wrap;
    justify-content: space-between;
}


.item {
    width: 400px;
    margin-bottom: 50px;
    background-color: #eeeeee;
    border: 1px solid #eeeeee;
    transition: transform 0.2s ease;
    position: relative;
    padding-bottom: 20px;
}
.item:hover {
    transform: scale(1.02);
}

.item__img {
    width: 100%;
    cursor: pointer;
}

.item__title {
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 45px;
    width: 95%;
    margin: 10px 20px;
}
.item__title:hover {
    text-decoration: underline;
}

.item__author {
    margin: 10px 20px;
}

.item__price {
    font-size: 24px;
    font-weight: 600;
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item__price p {
    margin-bottom: 0;
}

.item__cart-button {
    width: 35px;
    height: 35px;
    font-weight: 600;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
}
.item__cart-button:hover {
    transform: scale(1.05);
    color: #dc3d3d;
}


.modal-item {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    overflow: auto;
}

.modal__content {
    width: 800px;
    margin: 2% auto;
    position: relative;
    padding: 40px 30px;
    background: #fff;
    border-radius: 10px;
}

.modal__header {
    display: flex;
    flex-direction: row;
    position: relative;
}

.modal-item img {
    width: 35%;
    margin-right: 20px;
    border: 1px solid #eeeeee;
}

.modal__information {
    position: relative;
    width: 100%;
}

.modal-item h2,
.modal-item p,
.modal-item b {
    margin-bottom: 15px;
}

.modal__title {
    width: 100%;
    overflow: hidden;
    font-size: 24px;
    font-weight: 900;
}

.modal__author {
    font-weight: 600;
}

.modal__date {
    letter-spacing: 1px;
}

.modal__price {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
}

.modal__price p {
    font-size: 20px;
    font-weight: 600;
    margin-right: 15px;
}

.modal-item .add-to-cart {
    position: relative;
    bottom: 5px;
    width: 35px;
    height: 35px;
    color: #333;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
}
.modal-item .add-to-cart:hover {
    transform: scale(1.05);
    color: #dc3d3d;
}

.modal__desc {
    margin: 15px auto;
    line-height: 1.5;
    text-align: justify;
}

.modal__tracklist {
    font-weight: 600;
}

.modal__track {
    display: flex;
    flex-flow: wrap;
    color: #000;
}
.modal__track:hover {
    color: #dc3d3d;
}

.modal__track-id {
    margin-right: 15px;
}

.modal__track-duration {
    width: 35px;
    text-align: start;
    order: 999;
    margin-left: auto;
}

.modal__btn-close {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}
.modal__btn-close:hover {
    color: #dc3d3d;
}


footer {
    background: #eeeeee;
    height: 100px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}


.modal-order {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 100;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
}

.modal-order__content {
    width: 600px;
    background: #eeeeee;
}

.modal-order__container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background: #eeeeee;
    position: relative;
}

.modal-order__header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    align-self: flex-start;
    z-index: 9999;
    width: 600px;
    padding: 15px 0;
    font-size: 24px;
    font-weight: 600;
    background: #fff;
    border-bottom: 2px solid #eeeeee;
    overflow: hidden;
}

.modal-order__body {
    flex: 1 0 auto;
    overflow-y: scroll;
    height: 200px;
}

.modal-order__item {
    width: 100%;
    margin-bottom: 30px;
    background: #fff;
    padding: 25px;
    display: flex;
    justify-content: space-between;
}
.modal-order__item:first-child {
    margin-top: 110px;
}
.modal-order__item:last-child {
    margin-bottom: 130px;
}

.modal-order__item__body {
    width: 100%;
    position: relative;
    top: -5px;
}

.modal-order__img {
    width: 150px;
    margin-right: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.modal-order__img:hover {
    transform: scale(1.02);
}

.modal-order__item__title {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}
.modal-order__item__title:hover {
    text-decoration: underline;
}

.modal-order__item__author {
    color: #222;
}

.modal-order__item__price {
    position: absolute;
    bottom: -20px;
    font-size: 24px;
    font-weight: 600;
}

.modal-order__item__delete-btn {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 20px;
    height: 20px;
    transition: color 0.3s ease;
    cursor: pointer;
}
.modal-order__item__delete-btn:hover {
    color: #dc3d3d;
}

.modal-order__footer {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    position: fixed;
    bottom: 0;
    width: 600px;
    padding: 25px 0;
    background: #fff;
    height: 110px;
    border-top: 2px solid #eeeeee;
    overflow: hidden;
}

.modal-order__button {
    padding: 10px 100px;
    font-size: 24px;
    font-weight: 600;
    background: #cecece;
    border: none;
    outline: none;
    border-radius: 25px;
    transition: all 0.3s ease;
}
.modal-order__button:hover {
    background: #dc3d3d;
}

.modal-order__btn-close {
    position: absolute;
    top: calc(50% - 30px);
    right: 615px;
    color: #fff;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.modal-order__btn-close:hover {
    color: #dc3d3d;
}

.modal-order__empty {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding: 0 100px;
}

.modal-order__empty__title {
    font-size: 64px;
}

.modal-order__empty__text {
    text-align: center;
    font-size: 20px;
}